* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Raleway', sans-serif;
    color: #EEEEEE;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
}
body {
    position: relative;
    padding-bottom: 20em;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: url(../images/circuit.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height:100vh;
    width:100%;
}

/* --------------------- header/nav --------------------- */
header {
    width:100%;
    padding:1em;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
header h1 {
    display:flex;
    font-weight: 100;
    color: #DDDDDD;
    font-size: 5em;
    /* font-family: 'Raleway', sans-serif; */
    flex-wrap: nowrap;
    /* font-family: 'Dancing Script', cursive; */
}
#fname {
    animation: slide-in-d 1.5s ease;
}
#lname {
    animation: slide-in-w 1.5s ease;
}
header h1>a {
    text-decoration: none;
    color: #DDDDDD;
    display: block;
    overflow: hidden;
}
@keyframes slide-in-d {
    0% {
        width: 0.7em;
    }
    50% {
        width: 0.7em;
    }
    100% {
        width: 3.25em;
    }
}
@keyframes slide-in-w {
    0% {
        width: 1.1em;
    }
    50% {
        width: 1.1em;
    }
    100% {
        width: 4.5em;
    }
}
#primary-nav {
    justify-self: flex-end;
    display: flex;
    align-items: flex-end;
    transition: all 0.4s ease;
}
#primary-nav.scrolling {
    position: fixed;
    right:0;
    top:0;
}
#primary-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#primary-nav.scrolling ul {
    flex-direction: column;
}

#primary-nav li a {
    display:block;
    width: 5em;
    text-decoration: none;
    padding:1em;
    color: #EEEEEE;
}
/* --------------------- body --------------------- */

#top-button {
    color: black;
    background-color: #DDDDDD99;
    position: sticky;
    top: 5px;
    /* padding-top: 0.5em; */
    width: 3em;
    height:1em;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bolder;
}
body > section {
    width:100%;
    background-color: #222222;
}
#splash {
    width: 100%;
    height: 85vh;
    background: none;
}
.dp {
    max-width:15vw;
    border-radius: 100%;
    filter: contrast(1.2) saturate(0.6);
}
#about {
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width:100%;
    min-height:30em;
    color: white;
}
#about article {
padding:2em;
}
#contact {
    margin-top: 8em;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width:100%;
    background: #333333;
    min-height:20em;
    color: white;
}
#contact article {
    padding:2em;
}

/* --------------------- projects --------------------- */

#featured-projects {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color:#333333;
    width:100%;
}
.project {
    display:flex;
    flex-direction: column;
    padding:1em;
    margin:5em 1em;
    max-width: 1400px;
    width:100%;
    height:auto;
    color: #EEEEEE;
    /* background-color: #444444; */
    overflow:hidden;
}
.expand, .contract {
    width:5em;
    padding:0.5em;
    align-self: center;
    background:#111111;
}
.project img {
    max-height:50vh;
    margin: auto;
}
.project a {
    color: #AA22AA;
}
.project-preview {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    min-height:300px;
    overflow: hidden;
    margin: 0.5em 0;
}
.project-preview > img {
    max-height: 290px;
    margin:0;
    margin:5px;
    box-shadow: 0 0 5px 0 black;
}
.project-preview-text {
    max-height:100%;
}
.project-preview-text > p {
    margin: 0.5em 1em;
}
blockquote {
    background:#AA22AA44;
    padding:1em;
    margin:2em 4em;
    font-size:1.5em;
}
blockquote::before,blockquote:after {
    content: "\"";
    font-size:2em;
    line-height: 0;
    position: relative;
    top: 0.3em;
    font-family: Arial, Helvetica, sans-serif;
}
p.quote-source {
    text-align: end;
    font-style: italic;
    margin: -2.5em 4em 4em 0;
}
.project-contents {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height:4000px;
    transition:all 1s ease-in-out;
    padding-top: 5em;
}
.project-contents > p {
    margin: 0.5em 2em;
    font-size:1.2em;
}
.project-contents.hidden {
    max-height:0px;
    overflow: hidden;
}
.website-preview {
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    padding:0;
    margin:2em 0;
    width:100%;
}
.phone-container {
    position: relative;
    width: 354px;
    height: 660px;
    border:2px outset #888888;
    background: black;
    border-radius: 30px;
    box-shadow: 0px 0px 20px 0 black;
    overflow: hidden;
}
/* width */
.embed-phone::-webkit-scrollbar-track{
    background: #333333;
}
.embed-desktop::-webkit-scrollbar-track{
    background: #333333;
}
.desktop-container {
    position: relative;
    width: 974px;
    height: 570px;
    border:2px  outset #888888;
    background: black;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0 black;
    overflow: hidden;
}
.embed-phone {
    width:1080px;
    height:1920px;
    transform: scale(0.3);
    margin: -640px 0 0 -365px;
    border-radius: 50px;
}
.embed-desktop {
    width:1920px;
    height:1080px;
    transform: scale(0.5);
    margin: -265px 0 0 -475px;
    border-radius: 0px;
}
/* --------------------- project page --------------------- */



/* --------------------- footer --------------------- */
footer {
    display:flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
    background-color: #222222;
    padding:3em;
    width:100%;
    position: absolute;;
    bottom:0;
    color: #BBBBBB;
}
footer hr {
    width: 80%;
    margin: 1em;
    border: 1px solid #444444;
}
#social-nav ul {
    list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width:20em;
}
.contact-details {
    margin-top:5em;
    list-style: none;
    display:flex;
}
.contact-details img {
    width:2em;
}
.contact-details li {
    margin: 0 1vw;
}
.contact-details a {
    white-space: nowrap;
    text-decoration: none;
    display:block;
    /* background: #222222; */
    padding:0.8em 1em;
    transition: all 0.2s ease-in-out;
    filter:brightness(80%);
}
.contact-details a:hover {
    /* background:#777777; */
    font-weight: bolder;
    color: #AA22AA;
    /* filter: invert(77%) sepia(35%) brightness(87%) saturate(5578%) hue-rotate(284deg)  contrast(98%);*/
    filter: brightness(100%) drop-shadow(0 0 10px #AA22AA);
}
/* ------------image carosel-------------- */
.slider {
    margin:1em;
    position: relative;
    overflow: hidden;
    display:flex;
    max-height:60vh;
    width:80%;
    background-color: #11111155;
    padding:1em;
}
.arrow {
    display:block;
    border:solid #EEEEEE;
    border-width: 0 10px 10px 0;
    padding:20px;
    filter: brightness(80%);
    cursor: pointer;
}
.arrow:hover {
    filter: drop-shadow(0 0 5px #AA22AA);
}
.slider .prev {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: rotate(135deg);

}
.slider .next {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: rotate(-45deg);
}
.slider-images {
    display:flex;
    margin-left:-0em;
    transition: margin-left 0.1s ease-in-out;
}
.slider-images img {
    height:100%;
    border-radius:10px;
    filter: brightness(0.5);
    margin-left: 20px;
    transition: filter 0.2s ease-in-out;
    cursor: zoom-in;
}

.slider-images img.active {
    height:100%;
    border-radius:10px;
    filter: none;
}
.slider-images img:hover {
    filter: brightness(1.1);
}
/* ------------- lightbox ------------------*/
.lightbox {
    position: fixed;
    top:0;
    left:0;
    display:flex;
    width:100vw;
    height:100vh;
    z-index: 30;
    background: #000000BB;
    backdrop-filter: blur(10px);
}
.lightbox-content {
    position:fixed;
    top:50%;
    left:50%;
    min-width:20%;
    max-width:90%;
    min-height:20%;
    max-height:90%;
    transform: translate(-50%,-50%);
}
.close-lightbox {
    position:fixed;
    right:1em;
    top:1em;
    font-size:2em;
    width:2em;
    height:2em;
    background: none;
    border-radius: 100%;
    border:1px solid #EEEEEE;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.close-lightbox:hover {
    background: #EEEEEE;
    color:#111111;
}
.lightbox.hidden {
    display:none;
}
/* -------------------------------*/