* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #DDDDDD;
}

header {
    z-index: 20;
    position: fixed;
    top:0;
    width:100%;
    display:flex;
    justify-content: space-between;
    background: #333333;
    color: #EEEEEE;
    align-items: center;
    padding: 0.2em 0 0.2em 1em;
}
header a{
    text-decoration: none;
}
#primary-nav {
    list-style: none;
    display: flex;
}
#primary-nav a {
    color: #EEEEEE;
    text-decoration: none;
    padding:1em;
    transition: all 0.1s ease;
}
#primary-nav a:hover {
    background: #555555;
}

body {
    display:flex;
    flex-direction: column;
    align-items: center;
    background: #111111;
    padding: 2em 0 5em 0;

}
.bio {
    display:flex;
    justify-content: space-between;
    width:100%;
    /* max-width:1400px; */
    min-height:100vh;
    background: url("../images/bg.jpg");
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;

}
.bio .personal-info {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width:100%;
    background: linear-gradient(0deg, #111111FF,#11111100 50%);
    font-size:2em;
}
.contact-details {
    margin-top:10em;
    list-style: none;
    display:flex;
    padding-bottom: 3vh;
}
.contact-details img {
    width:1em;
}
.contact-details li {
    margin: 0 1vw;
}
.contact-details a {
    white-space: nowrap;
    text-decoration: none;
    display:block;
    /* background: #222222; */
    padding:1em;
    transition: all 0.2s ease-in-out;
    filter:brightness(90%);
}
.contact-details a:hover {
    /* background:#777777; */
    font-weight: bolder;
    color: #AA22AA;
    /* filter: invert(77%) sepia(35%) brightness(87%) saturate(5578%) hue-rotate(284deg)  contrast(98%);*/
    filter: brightness(100%) drop-shadow(0 0 10px #AA22AA);
}


#case-studies {
    width:95%;
    max-width: 1500px;
    padding-top:2em;
}

.case-study {
    padding:1em;
    margin:4em 1em 10em 1em;
    /* background: #444444; */
}
.case-study p{
    margin:1em 2em;
}
.case-study>h1{
    font-size:2em;
    margin-bottom:1em;
}
.case-study>h1~hr {
    margin-top:-1.5em;
    margin-bottom: 2em;
}
.case-study .study-preview{
    display: flex;
    max-height:400px;
    overflow: hidden;
}
.study-preview img{
    margin:auto;
    border-radius:10px;
}
blockquote {
    background:#AA22AA44;
    padding:1em;
    margin:2em 4em;
    font-size:1.5em;
}
p.quote-source {
    text-align: end;
    font-style: italic;
    margin: -2.5em 4em 4em 0;
}
.study-contents {
    max-height:2000px;
    transition: all 1s ease-in-out;
}
.study-contents.hidden {
    max-height: 0px;
    overflow: hidden;
}
.study-contents hr {
    margin: 1em;
}


.exp-col {
    background: #222222;
    padding:0.5em 1em;
    margin: 0.5em;
    outline: none;
    border:none;
    transition: all 0.4s ease;
    /* border: 1px solid #DDDDDD; */
}
.exp-col:hover {
    background: #EEEEEE;
    color: #222222;
}

/*-----slider-----*/

.slider {
    margin:1em;
    position: relative;
    overflow: hidden;
    display:flex;
    max-height:60vh;
}
.arrow {
    display:block;
    border:solid #EEEEEE;
    border-width: 0 10px 10px 0;
    padding:20px;
    filter: brightness(90%);
}
.arrow:hover {
    filter: drop-shadow(0 0 5px #AA22AA);
}
.slider .prev {
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 1em;
    transform: rotate(135deg);

}
.slider .next {
    z-index: 10;
    position: absolute;
    top: 50%;
    right: 1em;
    transform: rotate(-45deg);
}
.slider-images {
    display:flex;
    margin-left:-0em;
    transition: margin-left 0.1s ease-in-out;
}
.slider-images img {
    height:100%;
    border-radius:10px;
    filter: brightness(0.5);
    margin-left: 20px;
    transition: filter 0.2s ease-in-out;
}

.slider-images img.active {
    height:100%;
    border-radius:10px;
    filter: none;
}